spring:
  application:
    name: TrainTicketBooking

  datasource:
    url: jdbc:mysql://localhost:3306/trainticketbooking
    username: root
    password: root

  jpa:
    hibernate:
      ddl-auto: update

    show-sql: true


  kafka:
    bootstrap-servers: localhost:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    consumer:
      group-id: notify-group
      auto-offset-reset: earliest   # earliest -> start reading from beginning, latest -> start reading from latest messages.
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"


  mail:
    host: smtp.gmail.com
    port: 587
    username: fuddifake@gmail.com
    password: deay qqpw byqg inpf    # 16 char app password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

server:
  port : 8080

logging:
  level:
    org:
      springframework:
        security: DEBUG


